@model MVC_ShoppingList.ab_admin
@{
    ViewBag.Title = "AdminPanel";
}
<style>
    .button-container {
        text-align: center;
    }

    .custom-button {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #007BFF;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
    }

        .custom-button:hover {
            background-color: #0056b3;
        }
</style>
<div class="button-container">
    <a href="@Url.Action("Kategoriler", "Admin")" class="custom-button">Kategoriler</a>
    <a href="@Url.Action("Urunler", "Admin")" class="custom-button">Ürünler</a>
    <a href="@Url.Action("ViewKategoriler", "Admin")" class="custom-button">Kategorileri Goster</a>
</div>