@{
    ViewBag.Title = "Home Page";
}

<main>
    <div>
        <button type="button" onclick="location.href='@Url.Action("KayitOl", "Account")'">Kayıt Ol</button>
        <button type="button" onclick="location.href='@Url.Action("GirisYap", "Account")'">Giriş Yap</button>
    </div>

</main>